@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage {
    background-image: url('/img2.jpg');
}

.continental {
  background-image: url('/cont.png');
}
.continental-text {
  /* font-family: Helvetica; */
  font-weight: bolder;
}